﻿<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<div class="pages">
    <div data-page="history" class="page">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="icon icon-back"></i>
                        <span>Назад</span>
                    </a>
                </div>
                <div class="center">История</div>
                <div class="right">
                    <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="content-block">
                <p>Coming soon</p>
            </div>
        </div>
    </div>
</div>
